@charset "UTI-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --cor1: #1D438A;
    --cor2: #00BFB2;

    --fonte1: sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}


main {
    font-family: var(--fonte1);
    color: black;   
}

header img#logo {
    width: 20%;
    padding: 20px 0px 20px 10px; 
}

header div#cabecario {
    background-color:#00BFB2;
    color: white
}

div#cabecario h1 {
    font-family: var(--fonte1);
    font-size: 1,5em;
    padding-left: 10px;
    padding-top: 20px;
}

div#cabecario h2 {
    font-family: var(--fonte1);
    font-size: 1em;
    color: rgb(233, 233, 233);
    padding-left: 10px;
    padding-bottom: 20px;
}

#principal {
    width: 900px;
    float: left;
    background-color: rgb(248, 248, 248);
    margin-top: 5px 0px 5px 0px;
}

#principal h1 {
    font-family: var(--fonte1);
    color: var(--cor1);
    font-size: 1,2em;
    padding: 20px 20px 0px 20px;
    font-weight: bolder;
    line-height: 1.8em;
}

#principal h2 {
    font-family: var(--fonte1);
    color: var(--cor1);
    font-size: 1.2em;
    padding: 15px 20px 10px 30px;
    font-weight: 100;
    line-height: 1.5em;
}

section p {
    font-family: var(--fonte1);
    font-size: .95em;
    color: black;
    padding: 0px 20px 0px 30px;
    line-height: 1.5em;
}

#principal img {
    width: 57%;
    padding: 15px 0px 10px 40px;
}

#detalhe img {
    width: 35%;
    padding: 15px 0px 10px 40px;
}

#principal ol {
    padding-left: 45px;
    font-size: .95em;
}

#principal ul {
    padding-left: 35px;
    font-size: .95em;
}

#principal ol > li {
    line-height: 1.5em;
}

#principal ul > li {
    line-height: 1.5em;
}

#principal ol > li a {
    text-decoration: none;
    color: black;
}

#principal ol > li a:hover {
    text-decoration: underline;
    color: var(--cor2);
    font-weight: bold;
}

#principal ul li > p {
    line-height: 1.5em;
    font-size: .95em;
    text-align: justify;
    padding-left: 0px;
}

#lado {
    width: 403px;
    float: right;
    background-color: #c0d6fd;
    color: var(--cor1);
    padding: 20px;
    margin: 5px 0px 5px 0px;
}

#lado ol {
    padding-left: 5px;
}

#lado ul {
    padding-left: 25px;
}

#lado ol > li {
    line-height: 1.5em;
}

#lado ul > li {
    line-height: 1.5em;
}

#lado ol > li a {
    text-decoration: none;
    color: black;
}

#lado ol > li a:hover {
    text-decoration: underline;
    color: var(--cor1);
    font-weight: bold;
}

footer {
    background-color: var(--cor1);
    color: white;
    width: 100%;
    min-height: 80px;
    clear: both;
    display: flex;
}

footer .boxs {
    width: 400px;
    min-height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .boxs:nth-child(3) {
    width: 400px;
}

.boxs h1 {
    font-size: 1em;
    text-align: right;
    padding: 10px 20px 10px 0px;
}

.boxs h2 {
    font-size: 0.8em;
}

.boxs p {
    font-size: 0.8em;
    text-align: right;
    padding-right: 20px;
}

.boxs ul li {
    list-style: none;
    font-size: .8em;
    padding-bottom: 5px;
    text-align: center;
}

#social-media {
    display: flex;
    margin: auto;
}
.boxs ul li img {
    list-style: none;
    width: 40%;
    padding: 0px;
    margin: 0px;
}

.boxs img {
    width: 40%;
    margin: auto;

}
